{% extends "layout.html" %}


{% block content %}
    {% for category in categories %}
        <article class="media content-section">
          <div class="media-body">

            <div class='row mt-1'>
              <div class='col-md-1 '>
                <img class="" width='50px' height='50px' src="{{ url_for('static', filename='icons/chat.png') }}">
              </div>
              <div class='col-md-8'>
                <h4 ><a class="article-title" href="{{url_for('posts.filter_posts',category=category.id)}}">{{ category.category }}</a></h4>
                <p><span class='text-muted'>Threads:</span> {{category.threads}}</p>
              </div>
            </div>

          </div>
        </article>
    {% endfor %}

{% endblock content %}


{% block sidebar %}
  <div class="content-section">
      <ul class="list-group">
        <li class="list-group-item list-group-item-light">Latest Posts</li>
        
        {% for post in latestPosts %}
          <article class="media content-section">
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
              <div class="article-metadata">
                <a class="mr-2" href="{{ url_for('users.account_user', userid=post.author.id) }}">{{ post.author.username }}</a>
                <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
              </div>
              <h6><a class="article-title" href="{{ url_for('posts.post', post_id=post.id) }}">{{ post.title }}</a></hr6>
            </div>
          </article>
        {% endfor %}
        <!-- <li class="list-group-item list-group-item-light">Announcements</li>
        <li class="list-group-item list-group-item-light">Calendars</li>
        <li class="list-group-item list-group-item-light">etc</li> -->
      </ul>
    </p>
  </div>

{% endblock sidebar %}

{% block toprow %}
<div class='col-8'>
  <h3>Atom Forum</h3>
</div>
<div class='col-4'>
  <a class="nav-item nav-link float-right btn btn-primary" href="{{ url_for('posts.new_post') }}">New Post</a>
</div>
{% endblock %}
